<!DOCTYPE html>
<html>
    <head>
        {% include "includes/head.html.twig" %}
        {% block stylesheets %}
            <link rel="canonical" href="https://www.phasmo-randomizer.site">
            <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
            <link rel="preload" as="style" href="{{ asset('css/assets.min.css') }}">
            <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <noscript>
                <link rel="stylesheet" href="{{ asset('css/assets.min.css') }}">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            </noscript>
        {% endblock %}
    </head>
    <body>
        {% include "includes/top_page.html.twig" %}
        {% block body %}{% endblock %}
        {% include "includes/footer.html.twig" %}
        {% block javascripts %}
        <script>
            /**
            * Preloading page
            */
            document.addEventListener("DOMContentLoaded", function preload() {
                var $links = document.querySelectorAll("link[rel=preload]");
                $links.forEach(link => {
                link.rel = "stylesheet"
                });
            });
        </script>
        {% endblock %}
    </body>
</html>
