{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<section class="table_game">
			<p class="row">
				You're entering the room {{ roomNumber }}
			</p>
		</section>
	</main>
	<div class="orb">&nbsp;</div>
{% endblock %}
